@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* imported normal + bold700 size */

:root {
    --c--bg: 255, 255, 255;
    --c--main: 89, 70, 57;
    --c--secondary: 222, 196, 124;
    --c--text--white: 255, 255, 255;
    --c--text--black: 0, 0, 0;
    --font-size--h1: 5.653rem;
    --font-size--h2: 3.998rem;
    --font-size--h3: 2.827rem;
    --font-size--h4: 1.999rem;
    --font-size--h5: 1.414rem;
    --font-size--p: 1rem;
    --w--nav: 50vw;
    --marginSide--section: 2rem;
    --marginT--section: 3.5rem;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    border: none;
}
fieldset {
    border: none;
}
    /* scale 1.414 */
h1 {
    font-size: var(--font-size--h1);
}
h2 {
    font-size: var(--font-size--h2);
}
h3 {
    font-size: var(--font-size--h3);
}
h4 {
    font-size: var(--font-size--h4);
}
h5 {
    font-size: var(--font-size--h5);
}


/* global things */
body {
    width: 100vw;
    height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size--p);
    overflow-x: hidden;
}
    /* hamburger => TODO: wave var.*/
@keyframes hamburgerBefore {
    0% {
        top: calc(var(--font-size--h2) / 10  * -2.5);
        transform: translate(-50%, 0) rotate(0deg);
    }
    30% {
        top: 0;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        top: 0;
        transform: translate(-50%, -50%) rotate(45deg);
    }
}
@keyframes hamburgerAfter {
    0% {
        top: calc(var(--font-size--h2) / 10  * 2.5);
        transform: translate(-50%, 0) rotate(0deg);
    }
    30% {
        top: 0;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        top: 0;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}
.hamburger{
    position: relative;
    width: var(--font-size--h3);
    height: var(--font-size--h3);
    background-color: transparent;
}
.hamburger__line, .hamburger__line::before, .hamburger__line::after {
    transition: all 0.2s;
    position: absolute;
    width: var(--font-size--h3);
    aspect-ratio: 10/1;
    border-radius: 5px;
    background-color: rgb(var(--c--main));
}
.hamburger__line {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.hamburger__line::before, .hamburger__line::after {
    content: "";
    left: 50%;
    transform: translate(-50%, 0);
}
.hamburger__line::before {
    animation: hamburgerBefore 0.5s;
    animation-direction: reverse;
    top: calc(var(--font-size--h2) / 10  * -2.5)
}
.hamburger__line::after {
    animation: hamburgerAfter 0.5s;
    animation-direction: reverse;
    top: calc(var(--font-size--h2) / 10  * 2.5)
}
.hamburger:hover .hamburger__line,
.hamburger:hover .hamburger__line::before,
.hamburger:hover .hamburger__line::after {
    box-shadow: 0.5px 0.5px rgba(var(--c--text--white), 0.5);
}

.hamburger.close .hamburger__line {
    transition: all 0.2s;
    background-color: transparent;
    box-shadow: none;
}
.hamburger.close .hamburger__line::before {
    animation: hamburgerBefore 0.5s;
    top: 0;
    transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger.close .hamburger__line::after {
    animation: hamburgerAfter 0.5s;
    top: 0;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.img__back-ground {
    padding: 0 40% 0 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}
.img__prefix {
    font-size: var(--font-size--p);
    color: rgb(var(--c--text--white));
    font-style: italic;
}
.img__header {
    font-size: var(--font-size--h4);
    font-weight: 700;
    color: rgb(var(--c--text--white));
    text-transform: uppercase;
}
.img__text {
    font-size: var(--font-size--h5);
    color: rgb(var(--c--text--white));
}
.img__link {
    font-size: var(--font-size--p);
    color: rgb(var(--c--text--white));
    text-decoration: underline;
}
.section-container--grid {
    width: calc(100% - var(--marginSide--section) * 2);
    margin-top: var(--marginT--section);
    display: grid;
}
.section-container--col {
    width: calc(100% - var(--marginSide--section) * 2);
    margin-top: var(--marginT--section);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-container--row {
    width: calc(100% - var(--marginSide--section) * 2);
    margin-top: var(--marginT--section);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.grid-container {
    display: grid;
}
/* header */
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    /* nav */
header nav {
    position: fixed;
    width: calc(100% - var(--marginSide--section) * 2);
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__site-title {
    width: fit-content;
    height: var(--font-size--h2);
    display: block;
    font-size: var(--font-size--h2);
    color: rgb(var(--c--main));
    text-align: start;
    line-height: var(--font-size--h2);
    white-space: nowrap;
}
.header__nav__container {
    width: 50%;
    height: 100%;
}
header nav .hamburger {
    display: none;
}
.header__nav__menu-list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav__menu {
    margin-right: 1rem;
    white-space: nowrap;
    color: rgb(var(--c--text--white));
    font-size: var(--font-size--p);
}
@media screen and (max-width: 62rem){
    .header__nav__container {
        transition: all 0.5s;
        position: fixed;
        z-index: 1;
        top: 6rem;
        left: 100vw;
        width: var(--w--nav);
        height: calc(100vh - 6rem);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
        background-color: rgb(var(--c--text--white));
        overflow: hidden;
    }
    .header__nav__container::before {
        transition: all 0.5s;
        content: "";
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        width: calc(var(--w--nav) * 2);
        height: 30%;
        clip-path: polygon(100% 100%, 0% 100% , 0.00% 6.67%, 2.00% 6.61%, 4.00% 6.43%, 6.00% 6.15%, 8.00% 5.76%, 10.00% 5.29%, 12.00% 4.75%, 14.00% 4.16%, 16.00% 3.54%, 18.00% 2.92%, 20.00% 2.30%, 22.00% 1.73%, 24.00% 1.21%, 26.00% 0.76%, 28.00% 0.41%, 30.00% 0.16%, 32.00% 0.03%, 34.00% 0.01%, 36.00% 0.10%, 38.00% 0.32%, 40.00% 0.64%, 42.00% 1.05%, 44.00% 1.55%, 46.00% 2.11%, 48.00% 2.71%, 50.00% 3.33%, 52.00% 3.96%, 54.00% 4.56%, 56.00% 5.12%, 58.00% 5.62%, 60.00% 6.03%, 62.00% 6.35%, 64.00% 6.56%, 66.00% 6.66%, 68.00% 6.64%, 70.00% 6.50%, 72.00% 6.25%, 74.00% 5.90%, 76.00% 5.46%, 78.00% 4.94%, 80.00% 4.36%, 82.00% 3.75%, 84.00% 3.12%, 86.00% 2.50%, 88.00% 1.91%, 90.00% 1.37%, 92.00% 0.90%, 94.00% 0.52%, 96.00% 0.23%, 98.00% 0.06%, 100.00% 0.00%);        
        background-color: rgb(var(--c--main));
    }
    .header__nav__menu-list {
        position: relative;
        z-index: 3;
        flex-direction: column;
        width: 100%;
        height: 50%;
        padding-left: 30%;
        margin-top: var(--marginT--section);
    }
    .header__nav__menu{
        text-align: center;
        color: rgb(var(--c--main));
        font-size: var(--font-size--h5);
    }
    header nav .hamburger{
        display: block;
    }
    .header__nav__container.open {
        transition: all 0.5s;
        left: calc(100vw - var(--w--nav));
    }
    .header__nav__menu:hover {
        font-weight: 700;
    }
    .header__nav__container.navMenu1::before {
        left: -50%;
        height: calc(100% - var(--marginT--section) - (50% - var(--marginT--section) + var(--font-size--h5))  * 0.5 / 4);
    }
    .header__nav__container.navMenu1 .header__nav__menu:not(#navMenu1) {
        color: rgb(var(--c--text--white));
    }
    .header__nav__container.navMenu2::before {
        left: -30%;
        height: calc(100% - var(--marginT--section) - (50% - var(--marginT--section) + var(--font-size--h5)) * 1.5 / 4);
    }
    .header__nav__container.navMenu2 .header__nav__menu:nth-of-type(n + 3) {
        color: rgb(var(--c--text--white));
    }
    .header__nav__container.navMenu3::before {
        left: -40%;
        height: calc(100% - var(--marginT--section) - (50% - var(--marginT--section) + var(--font-size--h5)) * 2.5 / 4);
    }
    .header__nav__container.navMenu3 .header__nav__menu:nth-of-type(n + 4) {
        color: rgb(var(--c--text--white));
    }
    .header__nav__container.navMenu4::before {
        left: -10%;
        height: calc(100% - var(--marginT--section) - (50% - var(--marginT--section) + var(--font-size--h5)) * 3.5 / 4);
    }
    .header__nav__container.navMenu4 .header__nav__menu:nth-of-type(n + 5) {
        color: rgb(var(--c--text--white));
    }
    .header__nav__container.navMenu5::before {
        left: -20%;
        height: 40%;
    }

}
    /* banner */
.img__back-ground--banner {
    width:100%;
    height: 85vh;
    padding-left: 2rem;
    background-image: url("./img/bg/banner.jpg");
}
.img__header--banner {
    font-size: var(--font-size--h1);
}
.img__header--banner span {
    color: rgb(var(--c--secondary));
}
    /* ads */
.section-container--grid--header-ads {
    transition: all 0.3s;
    grid-template-columns: 1fr 1fr;
    aspect-ratio: 5/2;
}
.img__back-ground--header-ads:nth-child(1) {
    background-image: url(img/ad/ad1.jpg);
    grid-column: 1;
}
.img__back-ground--header-ads:nth-child(2) {
    background-image: url(img/ad/ad2.jpg);
    grid-column: 2;
}
.section-container--grid--header-ads:has(.img__back-ground--header-ads:nth-child(1):hover) {
    grid-template-columns: 2fr 1fr;
}
.section-container--grid--header-ads:has(.img__back-ground--header-ads:nth-child(2):hover) {
    grid-template-columns: 1fr 2fr;
}

/* main */
main {
    width: 100%;
    margin-top: var(--marginT--section);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title__prefix {
    font-size: var(--font-size--p);
    color: rgb(var(--c--text--black));
    font-style: italic;
}
.section-title__header {
    width: fit-content;
    height: var(--font-size--h3);
    line-height: var(--font-size--h3);;
    border-bottom: 1px solid rgb(var(--c--text--black));
    text-align: center;
    font-size: var(--font-size--h3);
    color: rgb(var(--c--text--black));
    text-transform: uppercase;
}
    /* product show case */
.grid-container--products {
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    grid-template-rows: auto auto;
    grid-auto-rows: 0px;
    overflow: hidden;
}
.product__container {
    width: 100%;
    height: fit-content;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.product__img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}
.product__name {
    width: 100%;
    height: calc(var(--font-size--h5) * 2);
    line-height: var(--font-size--h5);
    margin-top: 1rem;
    font-size: var(--font-size--h5);
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product__detail {
    width: 100%;
    height: calc(var(--font-size--p) * 2);
    line-height: var(--font-size--p);
    margin-top: 0.5rem;
    font-size: var(--font-size--p);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product__price {
    width: 100%;
    height: var(--font-size--p);
    line-height: var(--font-size--p);
    margin-top: 0.5rem;
    text-align: end;
}
    /* main news */
.img__back-ground--main-news {
    width: 70%;
    height: auto;
    padding: 0;
    aspect-ratio: 5/3;
    margin-top: var(--marginT--section);
    background-image: url("img/bg/discount.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img__prefix--main-news, .img__header--main-news {
    text-align: center;
}
    /* sale products show case */
.product__price--sale {
    font-weight: 700;
    color: rgb(var(--c--secondary));
}
.product__price--prev {
    font-weight: normal;
    color: rgb(var(--c--text--black));
    text-decoration: line-through;
}
    /* ads */
.section-container--grid--main-ads {
    grid-template-columns: repeat(auto-fill, minmax(calc(50% - 1rem), 1fr));
    grid-template-rows: auto;
    gap: 1rem;
    aspect-ratio: 4/3;
}
.img__back-ground--main-ads:nth-child(1) {
    background-image: url("./img/ad/ad3.jpg");
}
.img__back-ground--main-ads:nth-child(2) {
    background-image: url("./img/ad/ad4.jpg");
}
.img__back-ground--main-ads:nth-child(3) {
    background-image: url("./img/ad/ad5.jpg");
}
.img__back-ground--main-ads:nth-child(4) {
    background-image: url("./img/ad/ad6.jpg");
}

    /* form */
.form--reserve__container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
.form--reserve__section {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form--reserve__fieldset {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.form--reserve__title {
    text-align: center;
    font-weight: 700;
    font-size: var(--font-size--h5);
    text-transform: capitalize;
}
.form--reserve__input-box {
    width: 100%;
    padding: 0.5rem;
}
.form--reserve__input-box__label {
    display: block;
    width: 100%;
    white-space: nowrap;
}
.form--reserve__input-box__input {
    display: block;
    width: 100%;
}
.form--reserve__input-box__input--radio {
    height: 90%;
}
.form--reserve__input-box--radio {
    width: fit-content;
    margin-left: 10px;
}
.form--reserve__input-box--inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form--reserve__input-box--inline__label {
    display: block;
    width: 50%;
}
.form--reserve__input-box--inline__input {
    display: block;
    width: 50%;
}
.form--reserve__input-box--confirm {
    width: fit-content;
}
.form--reserve__input-box--confirm__label a {
    text-decoration: underline;
}
.form--reserve__input-box--confirm__submit {
    width: 6rem;
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
}
.form--reserve__input-box--inline--radio {
    justify-content: flex-end;
}

/* footer */
footer {
    width: 100%;
    margin-top: var(--marginT--section);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img__back-ground--footer {
    width: 100%;
    padding: 0 var(--marginSide--section);
    background-image: url("img/bg/footer.jpg");
}
.footer__widget__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
.footer__widget {
    width: 20%;
    color: rgb(var(--c--text--white));
    font-size: var(--font-size--p);
}
.footer__widget__title {
    font-size: var(--font-size--h5);
    text-transform: uppercase;
}


.footer__widget--open {

}
.footer__widget--post {

}
.footer__widget--open thread, .footer__widget--open tr {
    width: 100%;
}


ul.contactAserchPost {
    display: flex;
    flex-direction: column;
    
}
.contact {
    margin-bottom: 30px;
}

.socialWidgets {
    width: 100%;
    height: 40px;
    padding: 0;
    background-color: rgb(40, 38, 38);
    display: flex;
    justify-content: center;
}
.socialWidget {
    margin: 0 30px;
    height: 100%;
    width: 10rem;
    position: relative;
    display: flex;
    justify-content: center;
}
.socialWidget p {
    font-size: 0.6rem;
    color: aliceblue;
    text-align: center;
}
.socialWidget a, .socialWidget p{
    height: 100%;
    display: flex;
    align-items: center;
}
.socialWidget img {
    height: 70%;
    margin: 0 3px;
}


@media screen and (max-width: 43rem){
    :root {
        --font-size--h1: 3.052rem;
        --font-size--h2: 2.441rem;
        --font-size--h3: 1.953rem;
        --font-size--h4: 1.563rem;
        --font-size--h5: 1.25rem;
        --marginSide--section: 1rem;
    }
    /* header */
    .section-container--grid--header-ads,
    .section-container--grid--header-ads:has(.img__back-ground--header-ads:nth-child(1):hover),
    .section-container--grid--header-ads:has(.img__back-ground--header-ads:nth-child(2):hover)
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        aspect-ratio: 3/5;
    }
    .img__back-ground--header-ads {
        margin: 1rem;
    }
    .img__back-ground--header-ads:nth-child(1) {
        grid-area: 1/1/1/2;
    }
    .img__back-ground--header-ads:nth-child(2) {
        grid-area: 2/1/2/2;
    }
    /* main */
    .grid-container--products {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        overflow-x: scroll;
    }
    .img__back-ground--main-news {
        width: calc(100% - var(--marginSide--section) * 2);
    }
    .section-container--grid--main-ads {
        grid-template-columns: 1fr;
        aspect-ratio: 3/5;
    }
    .form--reserve__section {
        width: 100%;
    }
}